.navbar {
    background-color:  rgb(2, 2, 80);
}

.NavLink  {
    font-weight: bold;
    color : white;
    margin-right : 6px;
}
.NavLink:hover {
    color: rgb(49, 49, 240);
    text-decoration: none;
}

.tz-logo {
    height : 25px;
}